<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="ProductListingPaginationSuite" verbose="2" thread-count="1">

    <listeners>
        <!-- Allure TestNG listener — generates allure-results/ after each test -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <test name="ProductListingTests">
        <classes>
            <class name="tests.ProductListingTest"/>
        </classes>
    </test>

</suite>
